extends layout 

block layout-content
  div.View
    h1.Banner DanFood 
    div.Message
      div.Title
        h3 Making the Best
        h1 Food for full stack developers 
      span.Details Access the DanFood Team Portal
    div.NavButtons
      a(href="/user")
        div.NavButton Just div in!!!